.dialogs {
  display: grid;
  grid-template-columns: 1fr 2fr 10fr;
}

.dialogsItems  {
  padding: 10px;

}

.dialogItems .active{
  color: gold;
}

.dialogItems img {
  width: 30px;
  height: 30px;
  border-radius: 40px;
  margin-top: 10px;
}

.dialog  {
  padding: 10px;
}

.messages {
  
}

.message {
  padding: 10px;
}

.avatar img {
  width: 30px;
  height: 30px;
  border-radius: 40px;
  margin-top: 10px;
}