.app-wrapper {
  display: grid;
  height: 100%;
  width: 100%;
/*разбиение на колонки и строки и буква означает расположение в таблице*/
  grid-template-areas: 
  "h h"
  "n c";

  grid-template-columns: 10% 90%; 
  grid-template-rows: 10% 90%; 
  /*gap: 0px 0px;*/  
  gap: 0px;

};