.app-wrapper {
  display: grid;
  height: 100%;
  width: 100%;
/*разбиение на колонки и строки и буква означает расположение в таблице*/
  grid-template-areas: 
  "h h"
  "n c";

  grid-template-columns: 150px 95%;   /*ширина левой колонки   +   ширина правой колонки */
  grid-template-rows: 70px 95%;   /*длина верхней колонки    +  длина левой колонки
  /*gap: 0px 0px;*/  
  gap: 0px;

}

.app-wrapper-content {
    grid-area: c;
    background-color:lightsteelblue;
};